In [1]:
import boto3
import dask.dataframe as dd
from sagemaker import get_execution_role
import pandas as pd

role = get_execution_role()
bucket='tally-ai-dspt3'
folder = 'yelp-kaggle-raw-data'

print(f"S3 Bucket is {bucket}, and Folder is {folder}")

S3 Bucket is tally-ai-dspt3, and Folder is yelp-kaggle-raw-data

In order to use dask

1. Activate Conda Python 3 `source activate python3`
2. Install dask `conda install dask -y`
2. Install dask and s3fs `conda install s3fs -c conda-forge -y`

# Load Buisness Dataset

In [2]:
data_key = 'yelp_academic_dataset_business.json'
data_location = 's3://{}/{}/{}'.format(bucket, folder, data_key)
attributes = dd.read_json(data_location, lines=True)
attributes.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,10913 Bailey Rd,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...",f9NumwFMBDn751xgFiRbNA,"Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...",Cornelius,"{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'...",1,35.462724,-80.852612,The Range At Lake Norman,28031,36,3.5,NC
1,"8880 E Via Linda, Ste 107","{'GoodForKids': 'True', 'ByAppointmentOnly': '...",Yzvjg0SayhoZgCljUJRF9Q,"Health & Medical, Fitness & Instruction, Yoga,...",Scottsdale,None,1,33.569404,-111.890264,"Carlos Santo, NMD",85258,4,5.0,AZ
2,3554 Rue Notre-Dame O,None,XNoUzKckATkOD1hP6vghZg,"Pets, Pet Services, Pet Groomers",Montreal,None,1,45.479984,-73.580070,Felinus,H4C 1P4,5,5.0,QC
3,1015 Sharp Cir,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",6OAZjbxqM5ol29BuHsil3w,"Hardware Stores, Home Services, Building Suppl...",North Las Vegas,"{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ...",0,36.219728,-115.127725,Nevada House of Hose,89030,3,2.5,NV
4,4827 E Downing Cir,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",51M2Kk903DFYI6gnB5I6SQ,"Home Services, Plumbing, Electricians, Handyma...",Mesa,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '...",1,33.428065,-111.726648,USE MY GUY SERVICES LLC,85205,26,4.5,AZ

# Load Reviews Dataset

In [1]:
data_key = 'yelp_academic_dataset_review.json'
data_location = 's3://{}/{}/{}'.format(bucket, folder, data_key)
reviews = dd.read_json(data_location, blocksize=32e6)
reviews.head()

NameError: name 'bucket' is not defined

# Load Users Dataset

In [8]:
data_key = 'yelp_academic_dataset_user.json'
data_location = 's3://{}/{}/{}'.format(bucket, folder, data_key)
users = dd.read_json(data_location, blocksize=32e6)
users.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,3.57,22,0,22,3,1,2,11,0,15,...,227,,14,"oeMvJh94PiGQnx_6GlndPQ, wm1z1PaJKvHgSDRKfwhfDg...",225,Rafael,553,628,ntlvfPzc8eglqvk92iDIAw,2007-07-06 03:27:11
1,3.84,63,2,63,36,1,4,33,5,37,...,400,"2008,2009,2010,2011,2012,2013",27,"ly7EnE8leJmyqyePVYFlug, pRlR63iDytsnnniPb3AOug...",316,Michelle,564,790,FOBRPlBHa3WPHFB5qYDlVg,2008-04-28 01:29:25
2,3.44,17,1,17,9,0,6,3,1,7,...,103,2010,5,"Uwlk0txjQBPw_JhHsQnyeg, Ybxr1tSCkv3lYA0I1qmnPQ...",125,Martin,60,151,zZUnPeh2hEp0WydbAZEOOg,2008-08-28 23:40:05
3,3.08,7,0,7,2,0,1,7,0,14,...,84,2009,6,"iog3Nyg1i4jeumiTVG_BSA, M92xWY2Vr9w0xoH8bPplfQ...",160,John,206,233,QaELAmRcDc5TfJEylaaP8g,2008-09-20 00:08:14
4,4.37,31,1,31,8,1,9,22,31,28,...,512,"2009,2010,2011,2012,2014,2015,2016,2017,2018",78,"3W3ZMSthojCUirKEqAwGNw, eTIbuu23j9tOgmIa9POyLQ...",400,Anne,485,1265,xvu8G900tezTzbbfqmTKvA,2008-08-09 00:30:27

In [2]:
# Next steps (Dask merge the datasets)
# Then filter for resturant
# Then export as .csv with restaurants
# Then upload to S3 Bucket

In order to use dask

1. Activate Conda Python 3 `source activate python3`
2. Install fastparquet `conda install -c conda-forge fastparquet'

In [3]:
from fastparquet import ParquetFile

In [5]:
rru = dd.read_parquet('s3://tally-ai-dspt3/yelp-kaggle-raw-data/restaurants_reviews_users.parquet.gzip')

In [6]:
rru.head()

,business_id,categories,city,latitude,longitude,name_x,review_count_x,stars_x,state,cool_x,...,average_stars,compliment_funny,compliment_writer,cool_y,elite,fans,funny_y,name_y,review_count_y,useful_y
index,,,,,,,,,,,,,,,,,,,,,
0,zRr45TrTgq8XAKwvjM0W_Q,"Restaurants, Chinese",Charlotte,35.217665,-80.792571,Vanloi Chinese Barbecue Restaurant,7,4.5,NC,2,...,2.68,16,36,196,,11,254,George,267,731
1,TTFbaLpIwrjFx7YIL2pbJA,"Middle Eastern, Restaurants, Mediterranean, Ve...",Matthews,35.128190,-80.702241,Kabab-Je Rotisserie & Grille,557,4.5,NC,4,...,2.68,16,36,196,,11,254,George,267,731
2,vSB8Yrz0KslzqnlPEBfqNA,"Taiwanese, Chinese, Restaurants",Charlotte,35.106970,-80.806871,Tomi Chinese Restaurant,9,4.0,NC,0,...,2.68,16,36,196,,11,254,George,267,731
3,LlSehKBi-vx0TE5x2Q4R_w,"Korean, Asian Fusion, Restaurants, Chicken Wings",Charlotte,35.090011,-80.858741,Bonchon - Pineville,143,4.0,NC,0,...,2.68,16,36,196,,11,254,George,267,731
4,9jM0wrm_GjJGw-XNdNrzPQ,"American (New), Cocktail Bars, Beer Bar, Night...",Matthews,35.118906,-80.719190,Jekyll & Hyde Taphouse and Grill,236,3.5,NC,2,...,2.68,16,36,196,,11,254,George,267,731

In [7]:
rru.columns

Index(['business_id', 'categories', 'city', 'latitude', 'longitude', 'name_x',
       'review_count_x', 'stars_x', 'state', 'cool_x', 'funny_x', 'review_id',
       'stars_y', 'text', 'useful_x', 'user_id', 'average_stars',
       'compliment_funny', 'compliment_writer', 'cool_y', 'elite', 'fans',
       'funny_y', 'name_y', 'review_count_y', 'useful_y'],
      dtype='object')

In [ ]:
import boto3
import dask.dataframe as dd
from sagemaker import get_execution_role
from fastparquet import ParquetFile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

role = get_execution_role()
bucket='tally-ai-dspt3'
folder = 'yelp-kaggle-raw-data'

In [ ]:
#Loading data
data = 'final_combined.parquet.gzip'
data_location = 's3://{}/{}/{}'.format(bucket, folder, data)
df = dd.read_parquet(data_location)
df.head()

In [ ]:
#Convert dd to pd dataframe
df = df.compute()

In [ ]:
df.dtypes

In [ ]:
df.isna().sum()

In [ ]:
df['stars_review'].unique

In [ ]:
#Check the value of stars_reviews to see if it's different from stars_review
df['stars_reviews'].unique

In [ ]:
#It appears to be the same, so I dropped the stars_reviews one
df = df.drop(['stars_reviews'], axis=1)

In [ ]:
df.columns

Categories

In [ ]:
#Check all kinds of restaurants
df['categories'].value_counts()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Created a graph for top categories

x=df['categories'].value_counts()
print(f'There are {len(x)} different types of restaurants in Yelp')

#prep for chart
x=x.sort_values(ascending=False)
x=x.iloc[0:20]

#chart
plt.figure(figsize=(16,4))
ax = sns.barplot(x.index, x.values, alpha=0.8)
plt.title("Popular Cuisine", fontsize=30)
locs, labels = plt.xticks()
plt.setp(labels, rotation=80)
plt.ylabel('#Restaurants', fontsize=14)
plt.xlabel('Cuisine', fontsize=14)

#adding the text labels
rets = ax.patches
labels = x.values
for rect, label in zip(rets, labels):
    height = rect.get_height()
    ax.text(rect.get_x() + rect.get_width()/2, height + 5, label, ha = 'center', va = 'bottom')

plt.show()

In [ ]:
df['categories'].value_counts()

City with the Most Reviews

In [ ]:
#Sort city from top to bottom by rating counts
x=df['city'].value_counts()
x=x.sort_values(ascending=False)
x=x.iloc[0:20]
plt.figure(figsize=(16,4))
ax = sns.barplot(x.index, x.values, alpha=0.8)
plt.title("City with most reviews")
locs, labels = plt.xticks()
plt.setp(labels, rotation=45)
plt.ylabel('#restaurants', fontsize=14)
plt.xlabel('City', fontsize=14)

#adding the text labels
rects = ax.patches
labels = x.values
for rect, label in zip(rects, labels):
    height = rect.get_height()
    ax.text(rect.get_x() + rect.get_width()/2, height + 5, label, ha='center', va='bottom')
plt.show()