In [1]:
import dask

# Make sure dask is latest version
assert dask.__version__ == "2.17.2"

### Instructions to use in Sagemaker

In order to use dask

1. Activate Conda Python 3 `source activate python3`
2. Install dask and s3fs `conda install dask s3fs -c conda-forge -y`

In [2]:
import boto3
import dask.dataframe as dd
from sagemaker import get_execution_role
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

role = get_execution_role()

pd.set_option('display.max_columns', None)

In [3]:
# Utility functions here

def create_s3_file_url(folder, file_name,bucket='tally-ai-dspt3'):
    return 's3://{}/{}/{}'.format(bucket, folder, file_name)

## Loading Yelp `business` data

In [4]:
folder = 'yelp-kaggle-raw-data'
file_name = 'yelp_academic_dataset_business.json'
s3_business = create_s3_file_url(folder, file_name)
print(f"Fetching data from {s3_business}")
business = dd.read_json(s3_business, lines=True, blocksize=32e6)
business.head()

Fetching data from s3://tally-ai-dspt3/yelp-kaggle-raw-data/yelp_academic_dataset_business.json

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,10913 Bailey Rd,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...",f9NumwFMBDn751xgFiRbNA,"Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...",Cornelius,"{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'...",1,35.462724,-80.852612,The Range At Lake Norman,28031,36,3.5,NC
1,"8880 E Via Linda, Ste 107","{'GoodForKids': 'True', 'ByAppointmentOnly': '...",Yzvjg0SayhoZgCljUJRF9Q,"Health & Medical, Fitness & Instruction, Yoga,...",Scottsdale,None,1,33.569404,-111.890264,"Carlos Santo, NMD",85258,4,5.0,AZ
2,3554 Rue Notre-Dame O,None,XNoUzKckATkOD1hP6vghZg,"Pets, Pet Services, Pet Groomers",Montreal,None,1,45.479984,-73.580070,Felinus,H4C 1P4,5,5.0,QC
3,1015 Sharp Cir,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",6OAZjbxqM5ol29BuHsil3w,"Hardware Stores, Home Services, Building Suppl...",North Las Vegas,"{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ...",0,36.219728,-115.127725,Nevada House of Hose,89030,3,2.5,NV
4,4827 E Downing Cir,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",51M2Kk903DFYI6gnB5I6SQ,"Home Services, Plumbing, Electricians, Handyma...",Mesa,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '...",1,33.428065,-111.726648,USE MY GUY SERVICES LLC,85205,26,4.5,AZ

### Dropping Missing Values

Before dropping na in `categories`

In [5]:
business.compute().shape

(209393, 14)

After dropping na in categories

In [6]:
business = business.dropna(subset=['categories'])
business.compute().shape

(208869, 14)

### List of Unique Categories

In [7]:
business["categories"].unique().compute()

0         Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...
1         Health & Medical, Fitness & Instruction, Yoga,...
2                          Pets, Pet Services, Pet Groomers
3         Hardware Stores, Home Services, Building Suppl...
4         Home Services, Plumbing, Electricians, Handyma...
5         Auto Repair, Automotive, Oil Change Stations, ...
6         Dry Cleaning & Laundry, Local Services, Laundr...
7         Auto Repair, Oil Change Stations, Automotive, ...
8         Ethnic Food, Food Trucks, Specialty Food, Impo...
9         Martial Arts, Gyms, Fitness & Instruction, Act...
10                  Contractors, Landscaping, Home Services
11                                  Automotive, Auto Repair
12                Desserts, Food, Ice Cream & Frozen Yogurt
13               Contractors, Home Services, Local Services
14                                   Beauty & Spas, Tanning
15                             Local Services, Self Storage
16                           Shopping, Shoe Stores, Fashion
17        Event Planning & Services, Wedding Planning, F...
18        Auto Customization, Tires, Motorcycle Repair, ...
19        Weight Loss Centers, Fitness & Instruction, Bo...
20               Food, Restaurants, Grocery, Middle Eastern
21            Arts & Entertainment, Festivals, Local Flavor
22                          Festivals, Arts & Entertainment
23        Hotels & Travel, Transportation, Taxis, Beer, ...
24                   Restaurants, Cheesesteaks, Poutineries
25             Japanese, Fast Food, Food Court, Restaurants
26                     Auto Repair, Car Dealers, Automotive
27        Shopping, Food, Organic Stores, Specialty Food...
28        Persian/Iranian, Turkish, Middle Eastern, Rest...
29                                            Food, Grocery
                                ...
102464          Delis, Restaurants, Sandwiches, Food, Pizza
102465         Restaurants, Mediterranean, Falafel, Turkish
102466    Home Services, Water Purification Services, Pl...
102467                Vegan, Restaurants, Vegetarian, Salad
102468    Automotive, Car Dealers, Towing, Vehicle Shipping
102469    Restaurants, Canadian (New), Breakfast & Brunc...
102470    Bike Repair/Maintenance, Shopping, Bikes, Spor...
102471    Optometrists, Health & Medical, Fashion, Eyewe...
102472    Food, Juice Bars & Smoothies, Gift Shops, Flor...
102473    Automotive, Beauty & Spas, Car Rental, Truck R...
102474    Restaurants, Barbeque, Comfort Food, Salad, Ev...
102475    Juice Bars & Smoothies, Mediterranean, Restaur...
102476    Marketing, Professional Services, Advertising,...
102477       Local Services, Shades & Blinds, Home Services
102478    Shopping, Pool Cleaners, Home & Garden, Pool &...
102479    Health & Medical, Cosmetic Dentists, Cosmetic ...
102480    Hotels & Travel, Beauty & Spas, Health Retreat...
102481    Dentists, General Dentistry, Health & Medical,...
102482    Veterinarians, Health & Medical, Chiropractors...
102483    Ice Cream & Frozen Yogurt, Burgers, Restaurant...
102484    Auto Repair, Automotive, Generator Installatio...
102485    Shopping, Party & Event Planning, Caterers, To...
102486    Health & Medical, Home & Garden, Shopping, Fur...
102487    Commercial Real Estate, Mortgage Brokers, Home...
102488    Home Services, Active Life, Swimming Pools, Po...
102489    Nightlife, American (Traditional), Chicken Win...
102490       Nightlife, Diners, Bars, Southern, Restaurants
102491    Contractors, Local Services, Appliances & Repa...
102492    Department Stores, Food, Mobile Phones, Fashio...
102493    American (New), Food, Burgers, Restaurants, Fa...
Name: categories, Length: 102494, dtype: object

## Filtering `restaurants` only

Before filtering for `restaurants` businesses, total unique businesses are

In [11]:
business["categories"].unique().compute().shape

(102494,)

In [8]:
restaurants = business[business["categories"].str.contains("Restaurants")]
restaurants.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
8,404 E Green St,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",pQeaRpvuhoEqudo3uymHIQ,"Ethnic Food, Food Trucks, Specialty Food, Impo...",Champaign,"{'Monday': '11:30-14:30', 'Tuesday': '11:30-14...",1,40.110446,-88.233073,The Empanadas House,61820,5,4.5,IL
20,4508 E Independence Blvd,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...",CsLQLiRoafpJPJSkNX2h5Q,"Food, Restaurants, Grocery, Middle Eastern",Charlotte,None,0,35.194894,-80.767442,Middle East Deli,28205,5,3.0,NC
24,"15480 Bayview Avenue, unit D0110","{'RestaurantsTableService': 'False', 'Restaura...",eBEfgOPG7pvFhb2wcG9I7w,"Restaurants, Cheesesteaks, Poutineries",Aurora,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,44.010962,-79.448677,Philthy Phillys,L4G 7J1,4,4.5,ON
25,300 John Street,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...",lu7vtrp_bE9PnxWfA8g4Pg,"Japanese, Fast Food, Food Court, Restaurants",Thornhill,None,1,43.820492,-79.398466,Banzai Sushi,L3T 5W4,7,4.5,ON
30,13071 Yonge Street,"{'Ambience': '{'touristy': False, 'hipster': F...",9sRGfSVEfLhN_km60YruTA,"Persian/Iranian, Turkish, Middle Eastern, Rest...",Richmond Hill,"{'Tuesday': '12:0-21:0', 'Wednesday': '12:0-21...",1,43.947011,-79.454862,Apadana Restaurant,L4E 1A5,3,3.0,ON

After filtering for `restaurants` total unique businesses dropped

In [9]:
restaurants.compute().shape

(63944, 14)

### Rename `stars` to `business_stars`

In [25]:
restaurants['business_stars'] = restaurants['stars']
restaurants = restaurants.drop("stars", axis=1)
restaurants.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,state,business_stars
8,404 E Green St,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",pQeaRpvuhoEqudo3uymHIQ,"Ethnic Food, Food Trucks, Specialty Food, Impo...",Champaign,"{'Monday': '11:30-14:30', 'Tuesday': '11:30-14...",1,40.110446,-88.233073,The Empanadas House,61820,5,IL,4.5
20,4508 E Independence Blvd,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...",CsLQLiRoafpJPJSkNX2h5Q,"Food, Restaurants, Grocery, Middle Eastern",Charlotte,None,0,35.194894,-80.767442,Middle East Deli,28205,5,NC,3.0
24,"15480 Bayview Avenue, unit D0110","{'RestaurantsTableService': 'False', 'Restaura...",eBEfgOPG7pvFhb2wcG9I7w,"Restaurants, Cheesesteaks, Poutineries",Aurora,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,44.010962,-79.448677,Philthy Phillys,L4G 7J1,4,ON,4.5
25,300 John Street,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...",lu7vtrp_bE9PnxWfA8g4Pg,"Japanese, Fast Food, Food Court, Restaurants",Thornhill,None,1,43.820492,-79.398466,Banzai Sushi,L3T 5W4,7,ON,4.5
30,13071 Yonge Street,"{'Ambience': '{'touristy': False, 'hipster': F...",9sRGfSVEfLhN_km60YruTA,"Persian/Iranian, Turkish, Middle Eastern, Rest...",Richmond Hill,"{'Tuesday': '12:0-21:0', 'Wednesday': '12:0-21...",1,43.947011,-79.454862,Apadana Restaurant,L4E 1A5,3,ON,3.0

## Exporting  `business` as CSV to S3

In [26]:
file_name = 'business.csv'
folder = 'yelp-restaurants'
s3_file_name = create_s3_file_url(folder, file_name)
print(f"Storing to {s3_file_name}")
restaurants.to_csv(s3_file_name, single_file = True)

Storing to s3://tally-ai-dspt3/yelp-restaurants/business.csv

['tally-ai-dspt3/yelp-restaurants/business.csv']

## Loading Yelp `reviews` ~ 6GB data

In [13]:
folder = 'yelp-kaggle-raw-data'
file_name = 'yelp_academic_dataset_review.json'
s3_reviews = create_s3_file_url(folder, file_name)
print(f"Fetching data from {s3_reviews}")
reviews = dd.read_json(s3_reviews, blocksize=32e6)
reviews.head()

Fetching data from s3://tally-ai-dspt3/yelp-kaggle-raw-data/yelp_academic_dataset_review.json

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,-MhfebM0QIsKt87iDN-FNw,0,2015-04-15 05:21:16,0,xQY8N_XvtGbearJ5X4QryQ,2,"As someone who has worked with many museums, I...",5,OwjRMXRC0KyPrIlcjaXeFQ
1,lbrU8StCq3yDfr-QMnGrmQ,0,2013-12-07 03:16:52,1,UmFMZ8PyXZTY2QcwzsfQYA,1,I am actually horrified this place is still in...,1,nIJD_7ZXHq-FX8byPMOkMQ
2,HQl28KMwrEKHqhFrrDqVNQ,0,2015-12-05 03:18:11,0,LG2ZaYiOgpr2DK_90pYjNw,5,I love Deagan's. I do. I really do. The atmosp...,1,V34qejxNsCbcgD8C0HVk-Q
3,5JxlZaqCnk1MnbgRirs40Q,0,2011-05-27 05:30:52,0,i6g_oA9Yf9Y31qt0wibXpw,1,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",0,ofKDkJKXSKZXu5xJNGiiBQ
4,IS4cv902ykd8wj1TR0N3-A,0,2017-01-14 21:56:57,0,6TdNDKywdbjoTkizeMce8A,4,"Oh happy day, finally have a Canes near my cas...",0,UgMW8bLE0QMJDCkQ1Ax5Mg

#### Total Reviews before merging

In [14]:
reviews.compute().shape

(8021122, 9)

## Merging `business` and `reviews` data

In [15]:
restaurants_reviews = restaurants.merge(reviews, on="business_id",  how = 'inner')
restaurants_reviews.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars_x,state,cool,date,funny,review_id,stars_y,text,useful,user_id
0,15 N Butler St,"{'BusinessAcceptsCreditCards': 'True', 'Busine...",5p5YW_5bMOSuLIQjkJPO3w,"Restaurants, Pizza, Italian, American (New)",Madison,"{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'...",1,43.077208,-89.381527,Naples 15,53703,247,4.0,WI,3,2015-09-24 01:48:06,0,ueAiZ8f-jH7gKKuG0Bv3Gw,5,The most fantastic Italian food in Madison---d...,3,tdS2jvf9LPfE4XS5Kka9sw
1,15 N Butler St,"{'BusinessAcceptsCreditCards': 'True', 'Busine...",5p5YW_5bMOSuLIQjkJPO3w,"Restaurants, Pizza, Italian, American (New)",Madison,"{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'...",1,43.077208,-89.381527,Naples 15,53703,247,4.0,WI,2,2016-02-12 15:07:33,0,7zxEvUQwjXLl3vGl3aYhjQ,5,Naples 15 is wonderful and Chef Salvatore is a...,1,DBtHPn6TOBpXq6BAuFdcow
2,15 N Butler St,"{'BusinessAcceptsCreditCards': 'True', 'Busine...",5p5YW_5bMOSuLIQjkJPO3w,"Restaurants, Pizza, Italian, American (New)",Madison,"{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'...",1,43.077208,-89.381527,Naples 15,53703,247,4.0,WI,1,2015-05-13 05:20:33,0,ljP15ya0teoDyZz1Ms1rqQ,4,My friends and I decided to check out Naples 1...,1,8EipJXehR14DD9x9N7RSSw
3,15 N Butler St,"{'BusinessAcceptsCreditCards': 'True', 'Busine...",5p5YW_5bMOSuLIQjkJPO3w,"Restaurants, Pizza, Italian, American (New)",Madison,"{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'...",1,43.077208,-89.381527,Naples 15,53703,247,4.0,WI,0,2018-05-29 02:52:02,0,h2bXl2byo--CaBuf8QMUfA,5,I went to Naples 15 on the Friday of Memorial ...,1,6GC4KK_FW1pMGXt7qDUQGg
4,15 N Butler St,"{'BusinessAcceptsCreditCards': 'True', 'Busine...",5p5YW_5bMOSuLIQjkJPO3w,"Restaurants, Pizza, Italian, American (New)",Madison,"{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'...",1,43.077208,-89.381527,Naples 15,53703,247,4.0,WI,0,2018-06-09 11:07:48,0,rxO7gNmdpjamcoHPCfdmZg,1,"Food is pricey, quantity moderate and quality ...",1,lX-V2SVG2rWtkeW6LRuCpg

#### Total Restaurant Reviews after merging

In [16]:
restaurants_reviews.compute().shape

(5055992, 22)

## Filtering out columns from Restaurant Reviews

In [19]:
reviews[reviews["business_id"] == "5p5YW_5bMOSuLIQjkJPO3w"].compute()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
6122,5p5YW_5bMOSuLIQjkJPO3w,3,2015-09-24 01:48:06,0,ueAiZ8f-jH7gKKuG0Bv3Gw,5,The most fantastic Italian food in Madison---d...,3,tdS2jvf9LPfE4XS5Kka9sw
20739,5p5YW_5bMOSuLIQjkJPO3w,2,2016-02-12 15:07:33,0,7zxEvUQwjXLl3vGl3aYhjQ,5,Naples 15 is wonderful and Chef Salvatore is a...,1,DBtHPn6TOBpXq6BAuFdcow
25501,5p5YW_5bMOSuLIQjkJPO3w,1,2015-05-13 05:20:33,0,ljP15ya0teoDyZz1Ms1rqQ,4,My friends and I decided to check out Naples 1...,1,8EipJXehR14DD9x9N7RSSw
26200,5p5YW_5bMOSuLIQjkJPO3w,0,2018-05-29 02:52:02,0,h2bXl2byo--CaBuf8QMUfA,5,I went to Naples 15 on the Friday of Memorial ...,1,6GC4KK_FW1pMGXt7qDUQGg
27315,5p5YW_5bMOSuLIQjkJPO3w,0,2018-06-09 11:07:48,0,rxO7gNmdpjamcoHPCfdmZg,1,"Food is pricey, quantity moderate and quality ...",1,lX-V2SVG2rWtkeW6LRuCpg
31778,5p5YW_5bMOSuLIQjkJPO3w,2,2016-10-01 00:39:02,0,HWN6IRFZm9NFDwpezGCVNA,4,"I've been to this restaurant a few times now, ...",2,aZdsBvIJR03Vm99mKYBiew
37089,5p5YW_5bMOSuLIQjkJPO3w,0,2018-09-14 15:03:39,0,EAFUfuXcBIVlXNKrgkwEwQ,5,Fantastic Italian food. I am normally skeptica...,1,4oH2DWaYEn8bBFW9w8bScQ
6271,5p5YW_5bMOSuLIQjkJPO3w,0,2013-10-26 01:42:06,1,41CAcEh3lnhCL-Azg1cbRw,5,I had noticed a sign for Naples15 one time whe...,4,rEdLHGNhCfJXSFq4SQXhkQ
13663,5p5YW_5bMOSuLIQjkJPO3w,0,2015-07-17 14:50:55,0,w-tAhWGOV3jFG6FHiz9qPg,5,One of the top 5 meals in my life. The atmosp...,3,LMUn-OsM_AdIipX2CflLgQ
14634,5p5YW_5bMOSuLIQjkJPO3w,0,2017-10-26 00:50:17,0,Rsuzk8b1Jp6d6FAsh9iuYw,2,We had a Groupon for this restaurant and we w...,1,ffA7RP_FY9rKpTi4DRdWeA
17257,5p5YW_5bMOSuLIQjkJPO3w,0,2014-06-13 00:42:39,1,fvhaYWPyjRBK64xh62cpMg,1,Are you kidding me? Their prices are outrageo...,4,TRy4Ychd6IXs24WH_TkN-Q
17578,5p5YW_5bMOSuLIQjkJPO3w,1,2016-05-07 20:38:55,0,dtMfGwj0qcWIwkMORFuiIw,5,"This place is awesome. Salvatore Di Scala, own...",3,e9bVxMuG-1NIJWqT_pDEmQ
24078,5p5YW_5bMOSuLIQjkJPO3w,1,2015-04-03 00:56:07,0,yipL-X_R6S_6SXeZgDZRfA,5,"Wonderful food, service and environment. Could...",3,23rmcrD81AmQx1PPvA8wgw
28100,5p5YW_5bMOSuLIQjkJPO3w,0,2017-09-09 22:49:19,0,DwxWwkL9y9yHLpNYiQA8Rg,3,Disappointing. Pizza was runny. Gluten free no...,0,b5kepLk7zzHy4zaWD-DVsg
28290,5p5YW_5bMOSuLIQjkJPO3w,0,2013-08-07 01:20:01,0,khWs5P9YbB1-7jahyflBIg,5,We had a great night - outstanding food and se...,0,7AAukiE74uGYGEevr9mNUA
31941,5p5YW_5bMOSuLIQjkJPO3w,0,2017-10-27 02:15:26,0,IPP8OaIDdzEd_zWMrYq11g,1,My server spilled red wine all over me. Accide...,0,zwBpOOb2GF3B4Iw3zH3efw
32087,5p5YW_5bMOSuLIQjkJPO3w,0,2016-10-28 20:45:20,0,40UrIfHyBjwHsKpvKMoY5A,5,"Loved this restaurant. Delicious food, great s...",0,ztLkgaRJIq_AKHKWZO86eg
37125,5p5YW_5bMOSuLIQjkJPO3w,0,2016-12-22 02:13:30,0,CdbX7ehSHjRL_R_OvcCqNw,1,"Disappointing. Wasn't a busy Tuesday evening, ...",1,0sMDR5ct4SIIZZpcmiVvgg
316,5p5YW_5bMOSuLIQjkJPO3w,0,2016-06-13 23:16:51,0,KmeC8URLl0Ay-V5o61JDDw,5,outstanding dinner!!!\nI had the veal and my h...,0,dsY_UbXxpRV770x2fmTVKA
645,5p5YW_5bMOSuLIQjkJPO3w,1,2013-05-11 15:43:54,0,z7AHlOU38QRhtz2s0YcQPg,5,Last night we went to Naples 15 with a large g...,1,4FT78_qxh7Z8kkY1lAZCqg
1884,5p5YW_5bMOSuLIQjkJPO3w,0,2013-04-13 21:17:24,0,S_Gnn53QcFaJBaUcWkcslg,5,Awesome authentic food. Very friendly chef who...,0,2UyRZRxQKof_Vhriphj46g
2469,5p5YW_5bMOSuLIQjkJPO3w,2,2015-07-07 13:59:40,0,nfYrIbErV3Piom5bvP7AiA,1,I feel bad writing this honest review but I ha...,7,24f2R1VuQTcR72FqbqC6IA
4150,5p5YW_5bMOSuLIQjkJPO3w,0,2012-10-12 18:16:56,4,Lp6EclCSg2-QN0heHPAPEA,1,"Ok, you know, I really wanted a restaurant to ...",14,cmmYFJa0bD2FZmlpLGBBog
4519,5p5YW_5bMOSuLIQjkJPO3w,0,2018-05-19 23:13:05,0,Dza0RKRNyBTL_Q0Q_qyPIg,4,"A very nice Italian restaurant in Madison, I'v...",1,nXsXUIiNN2GLfuyB8B98kQ
13980,5p5YW_5bMOSuLIQjkJPO3w,0,2013-07-18 20:17:58,0,NjO7fZOBAhNpqh0W2J3lMw,5,I love Italian dining and my first experience ...,0,YUl6pXwA2hiHPX13KgJ0tw
14887,5p5YW_5bMOSuLIQjkJPO3w,0,2012-09-16 01:42:33,0,6ujadYkvvr5CVmino8mz0w,1,"If I could give this place 0 stars, I would. T...",12,BhXCPy-PK90Qqce3iEqpJA
16572,5p5YW_5bMOSuLIQjkJPO3w,0,2016-12-22 15:00:15,0,H0bQ2zBoMTL0WbiRGrQMqQ,4,I really enjoyed my experience here. Very clas...,1,xgYjHrgfof3t4ZFGPISQyA
23687,5p5YW_5bMOSuLIQjkJPO3w,1,2015-10-27 16:57:19,0,2ME0Bn1pFgVsYZLJ9CtkDw,5,This was my second time to this establishment ...,0,kT-giTkabN1I_KVIsTtGFw
27336,5p5YW_5bMOSuLIQjkJPO3w,0,2016-06-24 22:35:52,0,4pAuoreckz9SfdNrXTAdPQ,3,Giving this a three based only on the food qua...,1,pi5ytbgdypYGB1jvT1qzUg
31993,5p5YW_5bMOSuLIQjkJPO3w,0,2016-12-07 17:05:38,0,MMDKIzt8xFU74fy-E6jPkw,2,"Cute place, very expensive, food is too far in...",0,S2nuddBBycBSwV_zdlsGyw
...,...,...,...,...,...,...,...,...,...
24244,5p5YW_5bMOSuLIQjkJPO3w,0,2019-02-05 09:31:33,0,vnWQoSJRJbhiKxB9OYy4Sw,5,I went there to celebrate my birthday and orde...,0,c-7c4DlD7yRnwjqNe3m6Vg
26009,5p5YW_5bMOSuLIQjkJPO3w,0,2019-03-04 19:39:26,0,y55iQy3Z3o5hSyfhB_R1UQ,5,Phenomenal food and service ! Start w one of t...,0,QVwRbinWU9RPqvy_ptt3FA
27060,5p5YW_5bMOSuLIQjkJPO3w,0,2019-10-25 02:03:53,0,2KtzI-PESosuXvPYfh11Cg,5,Celebrated my birthday here! Great service ama...,0,B2JurUiLrCO8lj-y7lu8tQ
186,5p5YW_5bMOSuLIQjkJPO3w,0,2019-10-17 10:10:58,0,W4DBUwwaalDbC365vG7pjQ,5,I can't say enough positive about Naples 15. ...,0,1ibWK2iAVktUPNzIFiimpg
198,5p5YW_5bMOSuLIQjkJPO3w,3,2019-10-01 21:37:47,2,4UehkVZdjCP7vl4Kyyz5Gg,3,I understand that this is a venerable place an...,6,d5WLqmTMvmL7-RmUDVKqqQ
5079,5p5YW_5bMOSuLIQjkJPO3w,0,2019-09-26 01:10:49,1,rcCtpHorzJvCcp2zbQ1o0g,2,The prices are simply out of line for the atmo...,0,JzWfTtBAyAfe7Mx86UwA-g
8125,5p5YW_5bMOSuLIQjkJPO3w,2,2016-11-28 21:35:28,0,JixwYGVuxk_rkFYkZy56Ww,5,Had a memorable dinner there. Everything was ...,1,tyDL3sF9I3CgbTRURuYg7A
8400,5p5YW_5bMOSuLIQjkJPO3w,1,2019-11-08 03:08:02,0,QwvLMU9dXd-W8l_GRrZvcA,5,I'm Italian from Milan and I leave in Californ...,1,kpbBeYjAsBmSyTMLOP3Iyw
22945,5p5YW_5bMOSuLIQjkJPO3w,0,2018-12-21 02:52:44,0,w1cIYCe4pLmhIx4YZpjYhg,3,"In a nut shell with my foursome we had three, ...",0,-PTtMZYVawqKC6-vIds9lQ
28931,5p5YW_5bMOSuLIQjkJPO3w,0,2013-05-26 01:32:53,0,90cJPXrGjLRYJOuOum9YQg,4,I went back and was pleasantly surprised. I ha...,0,-9gZqyvOZWxqvvbuyDxTsg
31355,5p5YW_5bMOSuLIQjkJPO3w,0,2019-12-01 04:27:33,0,6Qmunj2A-B4J9qHZmbYrzA,5,Having a great time with my friends there! The...,0,AdwqaeOh8RLaAAhT7jLpRg
3900,5p5YW_5bMOSuLIQjkJPO3w,0,2019-02-24 02:25:25,0,cMqq6LeZQjyQSgvJ8MOFZw,5,This is by far my favorite restaurant in Madis...,0,rGdVUSwf8tIRLmqlSLwXsQ
4793,5p5YW_5bMOSuLIQjkJPO3w,0,2019-03-05 03:15:42,1,US5QTwAOzjeGdzIkho422A,1,Would give 0 stars if I could. Waitress was in...,4,0Qyjoapw_9RAp5FNahgMKw
5613,5p5YW_5bMOSuLIQjkJPO3w,0,2019-04-23 18:45:39,0,drgSGPAmAywGeTOQACuTYA,3,My husband and I made a reservation for a date...,0,E99Mnqrqdx5FZ_17OiBBDg
5678,5p5YW_5bMOSuLIQjkJPO3w,0,2019-04-26 01:23:04,0,bXhmMSEnImU9dgcC72AE9g,5,The food was amazing and our waiter was awesom...,0,Peg0fOLkdGdmPkPxuXEPlw
8935,5p5YW_5bMOSuLIQjkJPO3w,0,2019-12-07 01:11:13,0,TzjzQ2VQUfty0DZVT-kPFg,5,Naples 15 is a place I've grown to love dearly...,0,LpqGmdkWx4c90r0Ly3cSIQ
13976,5p5YW_5bMOSuLIQjkJPO3w,0,2018-12-12 02:57:28,0,lxyYIhj5WJL6LGy4gv4gbg,5,An authentic taste of Napoli in the heart of M...,1,tYWZenAKSPcSY2xwzi_z7Q
17320,5p5YW_5bMOSuLIQjkJPO3w,0,2019-08-21 16:54:49,0,GfNNv1uhA44tUdQpjBZSDw,5,I'll momentarily be one of those fuddy-duddies...,0,HtaSDsm0rI9qYKqI-_m-mQ
21055,5p5YW_5bMOSuLIQjkJPO3w,0,2019-10-21 10:27:39,0,WG8EQuBOTJQJBUlfBdIF1w,2,My wife and I have been here a few times now a...,0,4Z4n1gmQelTsqDu__NYEfg
21286,5p5YW_5bMOSuLIQjkJPO3w,0,2019-05-05 03:22:42,0,TetJc7auuvRCYNQ2ecpNlg,5,This is by far my favorite Neapolitan joint in...,0,70HubR9J_Ohz6d6NTX3fHw
26838,5p5YW_5bMOSuLIQjkJPO3w,0,2018-04-11 14:12:32,0,cfNiiC5HYDAopA-h0wpzfQ,2,"Good location, busy, but the prices are ""Ouch""...",1,XuFJHNgD2tGiIdcHTWZ-Lg
29548,5p5YW_5bMOSuLIQjkJPO3w,0,2019-04-26 22:48:12,0,TrRAsoj2IPXOrxJr-NFYqA,5,We had really good cheese pizza and the servic...,0,4qr5zkIt1uLEYVLOVExwNQ
34421,5p5YW_5bMOSuLIQjkJPO3w,0,2019-11-10 01:18:20,0,1Ic-8BDDZhtRRzSWyJ_wbA,4,Fantastic Ragu pene. The bowl is huge. The ...,0,0xcrfTczuBNdm1em7RaQOA
3922,5p5YW_5bMOSuLIQjkJPO3w,1,2019-03-13 02:21:57,0,8hNO5-c1uqmaukt240XUGw,5,Yet another unforgettable dinner at Naples 15....,1,P_fDCO-52XJ2HLLmuiQMbg
11939,5p5YW_5bMOSuLIQjkJPO3w,2,2019-04-07 00:53:20,0,2EHO2kCx9ccJikOS2We5yA,5,After years of placing this place by when wand...,1,D3ubzB6RdOiMwJ6JFIL2Zw
12617,5p5YW_5bMOSuLIQjkJPO3w,0,2019-09-05 02:12:58,0,fKLmsS0-jI943M43Ox83rg,5,This was by far the best Italian restaurant I'...,0,xQ2Isj_j1a1Vvn_QARargg
13423,5p5YW_5bMOSuLIQjkJPO3w,0,2019-05-07 01:14:44,0,N1TZSU6hmKrMYoIYEE3_5A,5,My entire experience at Naples 15 was phenomen...,0,5xiPeYGL938nKddZOY6KlA
15661,5p5YW_5bMOSuLIQjkJPO3w,0,2019-09-10 00:15:17,0,VDEjVN4dHtJoP1Ht-Hgu4g,5,Naples 15 is through-and-through the best Ital...,1,Wt3h0iR1MJLBr5m3mCOdbA
17590,5p5YW_5bMOSuLIQjkJPO3w,0,2019-04-21 02:54:48,0,myGGCfvl4sZUoNUpc4dfiw,5,"I have eaten in in Rome, Florence, Napoli, Ver...",1,f_0T3VC6Q4_kNsf1Iv9byg
20193,5p5YW_5bMOSuLIQjkJPO3w,0,2019-04-19 01:14:40,1,_WN4tZMCdwAdm73SXbA8JA,1,I have been to Naples 15 7 or 8 times and had ...,1,kghQfvmWmqjS3CQ1KfdSyg

In [20]:
restaurants_reviews[(restaurants_reviews["business_id"] == "5p5YW_5bMOSuLIQjkJPO3w") & (restaurants_reviews["review_id"] == "ueAiZ8f-jH7gKKuG0Bv3Gw")].compute()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars_x,state,cool,date,funny,review_id,stars_y,text,useful,user_id
0,15 N Butler St,"{'BusinessAcceptsCreditCards': 'True', 'Busine...",5p5YW_5bMOSuLIQjkJPO3w,"Restaurants, Pizza, Italian, American (New)",Madison,"{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'...",1,43.077208,-89.381527,Naples 15,53703,247,4.0,WI,3,2015-09-24 01:48:06,0,ueAiZ8f-jH7gKKuG0Bv3Gw,5,The most fantastic Italian food in Madison---d...,3,tdS2jvf9LPfE4XS5Kka9sw

In [28]:
restaurants_reviews = restaurants_reviews.rename(columns={'stars_y': 'review_stars'})

In [29]:
cols_to_keep = ["review_id", "business_id", "review_stars", "date", "text"]
restaurants_reviews = restaurants_reviews[cols_to_keep]
restaurants_reviews.head()

,review_id,business_id,review_stars,date,text
0,41CAcEh3lnhCL-Azg1cbRw,5p5YW_5bMOSuLIQjkJPO3w,5,2013-10-26 01:42:06,I had noticed a sign for Naples15 one time whe...
1,w-tAhWGOV3jFG6FHiz9qPg,5p5YW_5bMOSuLIQjkJPO3w,5,2015-07-17 14:50:55,One of the top 5 meals in my life. The atmosp...
2,Rsuzk8b1Jp6d6FAsh9iuYw,5p5YW_5bMOSuLIQjkJPO3w,2,2017-10-26 00:50:17,We had a Groupon for this restaurant and we w...
3,fvhaYWPyjRBK64xh62cpMg,5p5YW_5bMOSuLIQjkJPO3w,1,2014-06-13 00:42:39,Are you kidding me? Their prices are outrageo...
4,dtMfGwj0qcWIwkMORFuiIw,5p5YW_5bMOSuLIQjkJPO3w,5,2016-05-07 20:38:55,"This place is awesome. Salvatore Di Scala, own..."

## Exporting `reviews` as CSV to S3

In [ ]:
file_name = 'reviews.csv'
folder = 'yelp-restaurants'
s3_file_name = create_s3_file_url(folder, file_name)
print(f"Storing to {s3_file_name}")
restaurants_reviews.to_csv(s3_file_name, single_file = True)

Storing to s3://tally-ai-dspt3/yelp-restaurants/reviews.csv