In [1]:
import boto3
import dask.dataframe as dd
from sagemaker import get_execution_role

role = get_execution_role()
bucket='tally-ai-dspt3'
folder = 'yelp-kaggle-raw-data'

print(f"S3 Bucket is {bucket}, and Folder is {folder}")

S3 Bucket is tally-ai-dspt3, and Folder is yelp-kaggle-raw-data

In [2]:
# source activate python3
# conda install dask -y
# conda install s3fs -c conda-forge -y
# restart kernel

# Loading Yelp Businees `attributes`

In [3]:
data_key = 'yelp_academic_dataset_business.json'
data_location = 's3://{}/{}/{}'.format(bucket, folder, data_key)
business = dd.read_json(data_location, lines=True)
business.head(30)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,10913 Bailey Rd,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...",f9NumwFMBDn751xgFiRbNA,"Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...",Cornelius,"{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'...",1,35.462724,-80.852612,The Range At Lake Norman,28031,36,3.5,NC
1,"8880 E Via Linda, Ste 107","{'GoodForKids': 'True', 'ByAppointmentOnly': '...",Yzvjg0SayhoZgCljUJRF9Q,"Health & Medical, Fitness & Instruction, Yoga,...",Scottsdale,None,1,33.569404,-111.890264,"Carlos Santo, NMD",85258,4,5.0,AZ
2,3554 Rue Notre-Dame O,None,XNoUzKckATkOD1hP6vghZg,"Pets, Pet Services, Pet Groomers",Montreal,None,1,45.479984,-73.580070,Felinus,H4C 1P4,5,5.0,QC
3,1015 Sharp Cir,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",6OAZjbxqM5ol29BuHsil3w,"Hardware Stores, Home Services, Building Suppl...",North Las Vegas,"{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ...",0,36.219728,-115.127725,Nevada House of Hose,89030,3,2.5,NV
4,4827 E Downing Cir,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",51M2Kk903DFYI6gnB5I6SQ,"Home Services, Plumbing, Electricians, Handyma...",Mesa,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '...",1,33.428065,-111.726648,USE MY GUY SERVICES LLC,85205,26,4.5,AZ
5,"1720 W Elliot Rd, Ste 105",{'BusinessAcceptsCreditCards': 'True'},cKyLV5oWZJ2NudWgqs8VZw,"Auto Repair, Automotive, Oil Change Stations, ...",Gilbert,"{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ...",1,33.350399,-111.827142,Oasis Auto Center - Gilbert,85233,38,4.5,AZ
6,"6870 S Rainbow Blvd, Ste 117","{'BusinessParking': '{'garage': False, 'street...",oiAlXZPIFm2nBCt0DHLu_Q,"Dry Cleaning & Laundry, Local Services, Laundr...",Las Vegas,"{'Monday': '7:0-19:0', 'Tuesday': '7:0-19:0', ...",1,36.063977,-115.241463,Green World Cleaners,89118,81,3.5,NV
7,6910 E Southern Ave,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",ScYkbYNkDgCneBrD9vqhCQ,"Auto Repair, Oil Change Stations, Automotive, ...",Mesa,"{'Monday': '7:30-17:0', 'Tuesday': '7:30-17:0'...",1,33.393885,-111.682226,Junction Tire & Auto Service,85209,18,5.0,AZ
8,404 E Green St,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",pQeaRpvuhoEqudo3uymHIQ,"Ethnic Food, Food Trucks, Specialty Food, Impo...",Champaign,"{'Monday': '11:30-14:30', 'Tuesday': '11:30-14...",1,40.110446,-88.233073,The Empanadas House,61820,5,4.5,IL
9,700 Kipling Avenue Etobicoke,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...",EosRKXIGeSWFYWwpkbhNnA,"Martial Arts, Gyms, Fitness & Instruction, Act...",Toronto,"{'Monday': '5:30-23:0', 'Tuesday': '5:30-23:0'...",1,43.624539,-79.529108,Xtreme Couture,M8Z 5G3,16,3.0,ON
10,,None,MbZMmwo-eL0Jnm_Yb9KJrA,"Contractors, Landscaping, Home Services",Calgary,"{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:0', ...",1,50.945960,-114.037207,Chinook Landscaping and Design,T2J 2P2,3,5.0,AB
11,1110 Saw Mill Run Blvd,{'BusinessAcceptsCreditCards': 'True'},7Dv4_HAxsxvadEsT5fxQBg,"Automotive, Auto Repair",Pittsburgh,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,40.406667,-80.004450,Dependable Brakes & Exhaust,15226,5,5.0,PA
12,2831 Parmenter St,"{'BikeParking': 'True', 'Caters': 'True', 'Whe...",M_guz7Dj7hX0evS672wIwA,"Desserts, Food, Ice Cream & Frozen Yogurt",Middleton,"{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",1,43.105310,-89.510142,Chocolate Shoppe Ice Cream,53562,6,3.5,WI
13,"116 N Roosevelt Ave, Bldg B, Ste 124","{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",JjJs3o60uQCfctDjs45cmA,"Contractors, Home Services, Local Services",Chandler,"{'Monday': '9:0-16:0', 'Tuesday': '9:0-16:0', ...",1,33.303869,-111.951660,Convertabath,85226,10,2.5,AZ
14,5465 Simmons St,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",kOICO53wbOiOJcKuCgOQ3A,"Beauty & Spas, Tanning",North Las Vegas,"{'Monday': '8:0-21:0', 'Tuesday': '8:0-21:0', ...",0,36.263362,-115.179839,Tan Las Vegas,89031,5,3.5,NV
15,2402 Atchley Dr,{'BusinessAcceptsCreditCards': 'True'},rqcOZePlVvJP9EtzldIz0w,"Local Services, Self Storage",Henderson,"{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...",0,35.952046,-115.093483,Desert Storage,89052,5,5.0,NV
16,3131 Las Vegas Blvd,"{'BusinessParking': '{'garage': True, 'street'...",uZuh51lXu7tsrC8RAwkg1A,"Shopping, Shoe Stores, Fashion",Las Vegas,None,0,36.125732,-115.167608,Manolo Blahnik,89109,32,4.5,NV
17,"2115 E Cedar St, Unit 3","{'BusinessAcceptsCreditCards': 'True', 'Restau...",nIEhsGbw0vJuYl05bzzj6Q,"Event Planning & Services, Wedding Planning, F...",Tempe,None,1,33.411514,-111.895378,Bloom & Blueprint,85281,7,4.5,AZ
18,2915 Cherry Rd,{'BusinessAcceptsCreditCards': 'True'},edQoeeBFUTYGwnUSE0tGPg,"Auto Customization, Tires, Motorcycle Repair, ...",Rock Hill,"{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...",1,34.981121,-80.979023,Car Guyz,29730,10,4.5,SC
19,5229 S Power Rd,"{'AcceptsInsurance': 'False', 'GoodForKids': '...",Vwo64kNYDjKi98gUUv4-iQ,"Weight Loss Centers, Fitness & Instruction, Bo...",Mesa,"{'Monday': '5:30-20:0', 'Tuesday': '5:30-20:0'...",1,33.320723,-111.685869,Gateway Fit Body Boot Camp,85212,16,4.5,AZ
20,4508 E Independence Blvd,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...",CsLQLiRoafpJPJSkNX2h5Q,"Food, Restaurants, Grocery, Middle Eastern",Charlotte,None,0,35.194894,-80.767442,Middle East Deli,28205,5,3.0,NC
21,5850 W Glendale Avenue,"{'GoodForKids': 'True', 'BikeParking': 'True',...",x3Po6tJGb729u_HJPY6UCA,"Arts & Entertainment, Festivals, Local Flavor",Glendale,"{'Friday': '18:0-22:0', 'Saturday': '18:0-22:0...",1,33.538950,-112.185179,Glendale Glitters,85301,52,2.5,AZ
22,4431 Neck Rd,{'GoodForKids': 'True'},idgGrA8gt699JDUPKyiHJw,"Festivals, Arts & Entertainment",Huntersville,None,1,35.385757,-80.945811,North Carolina Brewers And Music Festival,28078,3,4.0,NC
23,,{'BusinessAcceptsCreditCards': 'True'},mKTq1T_IAplDpHUcMzOXkw,"Hotels & Travel, Transportation, Taxis, Beer, ...",Gastonia,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,35.252842,-81.152698,Tipsy Ryde,28054,3,3.5,NC
24,"15480 Bayview Avenue, unit D0110","{'RestaurantsTableService': 'False', 'Restaura...",eBEfgOPG7pvFhb2wcG9I7w,"Restaurants, Cheesesteaks, Poutineries",Aurora,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,44.010962,-79.448677,Philthy Phillys,L4G 7J1,4,4.5,ON
25,300 John Street,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...",lu7vtrp_bE9PnxWfA8g4Pg,"Japanese, Fast Food, Food Court, Restaurants",Thornhill,None,1,43.820492,-79.398466,Banzai Sushi,L3T 5W4,7,4.5,ON
26,306 Yonge Street,"{'RestaurantsPriceRange2': '3', 'BikeParking':...",1wWneWD_E1pBIyVpdHMaQg,"Shopping, Shoe Stores, Fashion",Toronto,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",1,43.656542,-79.381308,Air Jordan Store,M5B 1R4,9,4.0,ON
27,5201 E Independence Blvd,{'BusinessAcceptsCreditCards': 'True'},0pOlmHVeidsh63iAWdTAfg,"Auto Repair, Car Dealers, Automotive",Charlotte,"{'Monday': '0:0-0:0', 'Tuesday': '7:30-19:0', ...",1,35.188018,-80.758758,Hendrick Motors of Charlotte - Mercedes-Benz,28212,32,2.5,NC
28,16223 N Cave Creek Rd,{'BusinessAcceptsCreditCards': 'True'},07cgbTbANYhVDfzTMOkB9w,"Automotive, Auto Repair",Phoenix,"{'Monday': '7:30-17:0', 'Tuesday': '9:0-17:0',...",1,33.633689,-112.030435,Frontier Automotive,85032,17,4.5,AZ
29,415 Horner Avenue,"{'RestaurantsPriceRange2': '3', 'BikeParking':...",007Dg4ESDVacWcC4Vq704Q,"Shopping, Food, Organic Stores, Specialty Food...",Toronto,"{'Monday': '9:0-16:0', 'Tuesday': '9:0-16:0', ...",0,43.603232,-79.538424,Front Door Organics,M8W 4W3,8,4.0,ON

In order to use dask

1. Activate Conda Python 3 `source activate python3`
2. Install dask and s3fs `conda install dask s3fs -c conda-forge -y`

# Loading Yelp Businees `reviews` ~ 6GB data

In [5]:
#uncomment below to spin reviews which will be too large. Suggested we create a subset on RDS/postgres and then spin only what's necessary
data_key = 'yelp_academic_dataset_review.json'
data_location = 's3://{}/{}/{}'.format(bucket, folder, data_key)
reviews = dd.read_json(data_location, blocksize=32e6)

In [5]:
#reviews.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,-MhfebM0QIsKt87iDN-FNw,0,2015-04-15 05:21:16,0,xQY8N_XvtGbearJ5X4QryQ,2,"As someone who has worked with many museums, I...",5,OwjRMXRC0KyPrIlcjaXeFQ
1,lbrU8StCq3yDfr-QMnGrmQ,0,2013-12-07 03:16:52,1,UmFMZ8PyXZTY2QcwzsfQYA,1,I am actually horrified this place is still in...,1,nIJD_7ZXHq-FX8byPMOkMQ
2,HQl28KMwrEKHqhFrrDqVNQ,0,2015-12-05 03:18:11,0,LG2ZaYiOgpr2DK_90pYjNw,5,I love Deagan's. I do. I really do. The atmosp...,1,V34qejxNsCbcgD8C0HVk-Q
3,5JxlZaqCnk1MnbgRirs40Q,0,2011-05-27 05:30:52,0,i6g_oA9Yf9Y31qt0wibXpw,1,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",0,ofKDkJKXSKZXu5xJNGiiBQ
4,IS4cv902ykd8wj1TR0N3-A,0,2017-01-14 21:56:57,0,6TdNDKywdbjoTkizeMce8A,4,"Oh happy day, finally have a Canes near my cas...",0,UgMW8bLE0QMJDCkQ1Ax5Mg

In [8]:
#need to join the three datasets together. Dask join is just like dask
#once joined, filter with restaurants
#once filtered, only have restaurants in database, export as .csv
#once have .csv file load to S3 bucket

In [6]:
#uncomment below to spin reviews which will be too large. Suggested we create a subset on RDS/postgres and then spin only what's necessary
data_key = 'yelp_academic_dataset_user.json'
data_location = 's3://{}/{}/{}'.format(bucket, folder, data_key)
users = dd.read_json(data_location, blocksize=32e6)

In [7]:
#users.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,3.57,22,0,22,3,1,2,11,0,15,...,227,,14,"oeMvJh94PiGQnx_6GlndPQ, wm1z1PaJKvHgSDRKfwhfDg...",225,Rafael,553,628,ntlvfPzc8eglqvk92iDIAw,2007-07-06 03:27:11
1,3.84,63,2,63,36,1,4,33,5,37,...,400,"2008,2009,2010,2011,2012,2013",27,"ly7EnE8leJmyqyePVYFlug, pRlR63iDytsnnniPb3AOug...",316,Michelle,564,790,FOBRPlBHa3WPHFB5qYDlVg,2008-04-28 01:29:25
2,3.44,17,1,17,9,0,6,3,1,7,...,103,2010,5,"Uwlk0txjQBPw_JhHsQnyeg, Ybxr1tSCkv3lYA0I1qmnPQ...",125,Martin,60,151,zZUnPeh2hEp0WydbAZEOOg,2008-08-28 23:40:05
3,3.08,7,0,7,2,0,1,7,0,14,...,84,2009,6,"iog3Nyg1i4jeumiTVG_BSA, M92xWY2Vr9w0xoH8bPplfQ...",160,John,206,233,QaELAmRcDc5TfJEylaaP8g,2008-09-20 00:08:14
4,4.37,31,1,31,8,1,9,22,31,28,...,512,"2009,2010,2011,2012,2014,2015,2016,2017,2018",78,"3W3ZMSthojCUirKEqAwGNw, eTIbuu23j9tOgmIa9POyLQ...",400,Anne,485,1265,xvu8G900tezTzbbfqmTKvA,2008-08-09 00:30:27

In [11]:
#business_reviews = business.merge(reviews, on = 'business_id', how = 'inner')

In [12]:
#business_reviews.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,...,stars_x,state,cool,date,funny,review_id,stars_y,text,useful,user_id
0,10913 Bailey Rd,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...",f9NumwFMBDn751xgFiRbNA,"Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...",Cornelius,"{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'...",1,35.462724,-80.852612,The Range At Lake Norman,...,3.5,NC,4,2012-06-26 00:48:30,2,YkpjR5N5TLkwHi20IZ15zg,4,Driving more than an half-hour to get to a gun...,23,xDtS2iKsJuVUVzB2YhfPsg
1,4827 E Downing Cir,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",51M2Kk903DFYI6gnB5I6SQ,"Home Services, Plumbing, Electricians, Handyma...",Mesa,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '...",1,33.428065,-111.726648,USE MY GUY SERVICES LLC,...,4.5,AZ,0,2016-01-30 03:26:19,1,EY8t3ndAZo2vWY7eeOnVLw,5,UMGS does an amazing job serving the community...,0,nKBtfZ93gPYybGEz2QOvTQ
2,4827 E Downing Cir,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",51M2Kk903DFYI6gnB5I6SQ,"Home Services, Plumbing, Electricians, Handyma...",Mesa,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '...",1,33.428065,-111.726648,USE MY GUY SERVICES LLC,...,4.5,AZ,0,2016-03-02 20:15:09,0,uoujAVvyx-GLyQnByuon0w,5,I called Connie needing some stuff done on a S...,0,UjVtviHTm2mgZnXCfl33CQ
3,4827 E Downing Cir,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",51M2Kk903DFYI6gnB5I6SQ,"Home Services, Plumbing, Electricians, Handyma...",Mesa,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '...",1,33.428065,-111.726648,USE MY GUY SERVICES LLC,...,4.5,AZ,0,2017-06-07 18:24:25,0,pECK3p9w7m-_xEp--lGxHg,5,We are selling our home and needed our back fa...,0,L498DJb5YDAtoqgv9thWCg
4,"1720 W Elliot Rd, Ste 105",{'BusinessAcceptsCreditCards': 'True'},cKyLV5oWZJ2NudWgqs8VZw,"Auto Repair, Automotive, Oil Change Stations, ...",Gilbert,"{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ...",1,33.350399,-111.827142,Oasis Auto Center - Gilbert,...,4.5,AZ,0,2013-09-04 22:11:58,0,edUqROoq7qAVzR2b27j2dA,2,This place was much better when Tony was in ch...,3,4oE6BjeHyTVRqd_82LcrhQ

In [13]:
#business_reviews_users = business_reviews.merge(users, on = 'user_id', how = 'inner')

In [15]:
#business_reviews_users.head()

In [19]:
#method to pull unique values out of column 'category' in business
# def unique_col(col):
#     return ','.join(set(col.split(',')))

# x = business.categories.apply(unique_col)

In [7]:
#drop na values
business2 = business.dropna(subset=['categories'])

In [8]:
restaurants = business2[business2['categories'].str.contains('Restaurants')]

In [9]:
#restaurants.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
8,404 E Green St,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",pQeaRpvuhoEqudo3uymHIQ,"Ethnic Food, Food Trucks, Specialty Food, Impo...",Champaign,"{'Monday': '11:30-14:30', 'Tuesday': '11:30-14...",1,40.110446,-88.233073,The Empanadas House,61820,5,4.5,IL
20,4508 E Independence Blvd,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...",CsLQLiRoafpJPJSkNX2h5Q,"Food, Restaurants, Grocery, Middle Eastern",Charlotte,None,0,35.194894,-80.767442,Middle East Deli,28205,5,3.0,NC
24,"15480 Bayview Avenue, unit D0110","{'RestaurantsTableService': 'False', 'Restaura...",eBEfgOPG7pvFhb2wcG9I7w,"Restaurants, Cheesesteaks, Poutineries",Aurora,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,44.010962,-79.448677,Philthy Phillys,L4G 7J1,4,4.5,ON
25,300 John Street,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...",lu7vtrp_bE9PnxWfA8g4Pg,"Japanese, Fast Food, Food Court, Restaurants",Thornhill,None,1,43.820492,-79.398466,Banzai Sushi,L3T 5W4,7,4.5,ON
30,13071 Yonge Street,"{'Ambience': '{'touristy': False, 'hipster': F...",9sRGfSVEfLhN_km60YruTA,"Persian/Iranian, Turkish, Middle Eastern, Rest...",Richmond Hill,"{'Tuesday': '12:0-21:0', 'Wednesday': '12:0-21...",1,43.947011,-79.454862,Apadana Restaurant,L4E 1A5,3,3.0,ON

In [10]:
restaurants_reviews = restaurants.merge(reviews, on = 'business_id', how = 'inner')

In [34]:
#restaurants_reviews.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,...,stars_x,state,cool,date,funny,review_id,stars_y,text,useful,user_id
0,404 E Green St,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",pQeaRpvuhoEqudo3uymHIQ,"Ethnic Food, Food Trucks, Specialty Food, Impo...",Champaign,"{'Monday': '11:30-14:30', 'Tuesday': '11:30-14...",1,40.110446,-88.233073,The Empanadas House,...,4.5,IL,0,2013-04-11 18:36:15,0,2TtLt9skrBwBM6QGEhFYCg,5,I love the empanadas from the Empanadas House!...,0,eSQ3z93DlzkpXK_H6MFEMw
1,4508 E Independence Blvd,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...",CsLQLiRoafpJPJSkNX2h5Q,"Food, Restaurants, Grocery, Middle Eastern",Charlotte,None,0,35.194894,-80.767442,Middle East Deli,...,3.0,NC,0,2010-03-13 13:54:30,0,XyHl5E80hAAlkhOt8m4Aww,3,"Definitely under new management, and the dinin...",5,whqfWVBj4x5EDboIVDOymQ
2,9595 W Tropicana Ave,"{'Alcohol': 'u'none'', 'WiFi': 'u'no'', 'GoodF...",fnZrZlqW1Z8iWgTVDfv_MA,"Mexican, Restaurants, Fast Food",Las Vegas,None,0,36.099738,-115.301568,Carl's Jr,...,2.5,NV,0,2010-11-27 09:33:34,0,WUAt5-krh075Ie44np8Hew,5,So why would I be giving a Fast Food chain loc...,0,YDkC5VVT8s9NlIZtAr8NUA
3,843 Kipling Avenue,"{'RestaurantsPriceRange2': '2', 'RestaurantsAt...",rVBPQdeayMYht4Uv_FOLHg,"Restaurants, Burgers, Food",Toronto,None,0,43.633291,-79.531768,Gourmet Burger Company,...,3.0,ON,0,2011-07-29 16:00:02,1,OobdounFYjkAbIDsVUNwRw,5,"We've eaten here a few times now, and have bee...",0,zsZVg16yjZu5NIiS0ayjrQ
4,5252 Rue Jean Talon O,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",LoRef3ChgZKbxUio-sHgQg,"Restaurants, Lebanese, Middle Eastern",Montréal,None,1,45.494870,-73.651904,Amir,...,3.0,QC,0,2013-05-29 16:24:17,0,2L1UbgcrQSTNObqZEufKKw,2,"Good food, terrible customer service. For me ...",1,schfOYW71VamTTdfzqDlXQ

In [11]:
restaurants_reviews_users = restaurants_reviews.merge(users, on = 'user_id', how = 'inner')

In [42]:
#restaurants_reviews_users.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name_x,...,compliment_writer,cool_y,elite,fans,friends,funny_y,name_y,review_count_y,useful_y,yelping_since
0,"9897 W McDowell Rd, Ste 250","{'NoiseLevel': 'u'quiet'', 'BikeParking': 'Tru...",-OjKVujPWqfbQJRg_WcZTg,"Restaurants, Sandwiches, Soup, Specialty Food,...",Tolleson,"{'Monday': '10:0-18:0', 'Tuesday': '10:0-18:0'...",1,33.464052,-112.271003,Honey Baked Ham Company,...,0,15,,0,YsGPnjFjCxFERQ9Kr9uQgg,15,Danny,19,23,2013-01-15 23:40:03
1,230 N Gilbert Rd,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",3N9U549Zse8UP-MwKZAjAQ,"Grocery, Food, American (New), Local Flavor, B...",Gilbert,"{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ...",1,33.354768,-111.789833,Liberty Market,...,0,15,,0,YsGPnjFjCxFERQ9Kr9uQgg,15,Danny,19,23,2013-01-15 23:40:03
2,"1902 S Val Vista Dr, Ste 101","{'NoiseLevel': 'u'average'', 'Alcohol': 'u'non...",-sNi7U9seVfCr8T8nkWd_w,"Restaurants, Caribbean, Hawaiian",Mesa,"{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",1,33.380532,-111.754619,Rumbi Island Grill,...,0,15,,0,YsGPnjFjCxFERQ9Kr9uQgg,15,Danny,19,23,2013-01-15 23:40:03
3,"1152 N Power Rd, Ste 106","{'RestaurantsTakeOut': 'True', 'BikeParking': ...",6nmlclYyyLyH5EGLUpsmjw,"Bubble Tea, Restaurants, Breakfast & Brunch, C...",Mesa,"{'Monday': '5:0-17:0', 'Tuesday': '5:0-20:0', ...",1,33.436513,-111.684937,Dutch Donut Factory,...,0,15,,0,YsGPnjFjCxFERQ9Kr9uQgg,15,Danny,19,23,2013-01-15 23:40:03
4,"1380 N Litchfield Rd, Suite K3","{'Ambience': '{'touristy': False, 'hipster': T...",yBHNlSLfAd7uXFqlyr01Vg,"Restaurants, Pizza, Fast Food",Goodyear,"{'Monday': '0:0-0:0', 'Tuesday': '10:30-22:0',...",1,33.462210,-112.359436,MOD Pizza,...,0,15,,0,YsGPnjFjCxFERQ9Kr9uQgg,15,Danny,19,23,2013-01-15 23:40:03

In [39]:
#restaurants_reviews_users.to_json('restaurants_reviews_users.json')

In [ ]:
dd.to_csv(restaurants_reviews_users,'s3://tally-ai-dspt3/yelp-kaggle-raw-data/restaurants_reviews_users.csv')