In [ ]:
import dask.dataframe as dd
import pandas as pd
!pip install fastparquet
from fastparquet import ParquetFile
pd.set_option('display.max_columns', None)

#imports to get our parquet files aand dask files

Requirement already satisfied: fastparquet in /usr/local/lib/python3.6/dist-packages (0.4.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from fastparquet) (1.0.4)
Requirement already satisfied: thrift>=0.11.0 in /usr/local/lib/python3.6/dist-packages (from fastparquet) (0.13.0)
Requirement already satisfied: numba>=0.28 in /usr/local/lib/python3.6/dist-packages (from fastparquet) (0.48.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from fastparquet) (1.18.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from fastparquet) (1.12.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->fastparquet) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->fastparquet) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba>=0.28->fastparquet) (47.1.1)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.28->fastparquet) (0.31.0)

In [ ]:
#load dask in as read_parquet
reviews = dd.read_parquet('https://tally-ai-dspt3.s3.amazonaws.com/yelp-restaurants/reviews.parquet.gzip')
reviews.head()

,review_id,business_id,reviews_stars,date,text
index,,,,,
0,ipufYjKx5saLVuDR6f6o0w,S9RoY_Smsh0a2JPo90bkdg,5,2017-08-21 02:03:08,Was there with a girlfriend at lunch time toda...
1,VNOhF-xUYguSjA01yx5nwA,S9RoY_Smsh0a2JPo90bkdg,2,2017-08-20 17:46:40,I thought my meal was OK. I ordered an omelett...
2,PMXYXphbbkx2TM80AtIpQQ,S9RoY_Smsh0a2JPo90bkdg,2,2015-12-10 17:53:39,It's just a breakfast not too fancy. Weak coff...
3,7hxilsquX34WXHYc80qLkw,S9RoY_Smsh0a2JPo90bkdg,1,2017-09-02 18:54:37,"Shoule be zero stars! So, we have been here a ..."
4,Xnf39DsDWqiv1wulL2NK9g,S9RoY_Smsh0a2JPo90bkdg,5,2017-04-30 05:33:08,I LOVE this place!!! I'm so happy they opened ...

In [ ]:
#load dask in as read_parquet
business = dd.read_csv('https://tally-ai-dspt3.s3.amazonaws.com/yelp-restaurants/business.csv', blocksize=None)
business.head()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,state,business_stars
0,8,404 E Green St,"{'RestaurantsAttire': ""u'casual'"", 'Restaurant...",pQeaRpvuhoEqudo3uymHIQ,"Ethnic Food, Food Trucks, Specialty Food, Impo...",Champaign,"{'Monday': '11:30-14:30', 'Tuesday': '11:30-14...",1,40.110446,-88.233073,The Empanadas House,61820,5,IL,4.5
1,20,4508 E Independence Blvd,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...",CsLQLiRoafpJPJSkNX2h5Q,"Food, Restaurants, Grocery, Middle Eastern",Charlotte,NaN,0,35.194894,-80.767442,Middle East Deli,28205,5,NC,3.0
2,24,"15480 Bayview Avenue, unit D0110","{'RestaurantsTableService': 'False', 'Restaura...",eBEfgOPG7pvFhb2wcG9I7w,"Restaurants, Cheesesteaks, Poutineries",Aurora,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,44.010962,-79.448677,Philthy Phillys,L4G 7J1,4,ON,4.5
3,25,300 John Street,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...",lu7vtrp_bE9PnxWfA8g4Pg,"Japanese, Fast Food, Food Court, Restaurants",Thornhill,NaN,1,43.820492,-79.398466,Banzai Sushi,L3T 5W4,7,ON,4.5
4,30,13071 Yonge Street,"{'Ambience': ""{'touristy': False, 'hipster': F...",9sRGfSVEfLhN_km60YruTA,"Persian/Iranian, Turkish, Middle Eastern, Rest...",Richmond Hill,"{'Tuesday': '12:0-21:0', 'Wednesday': '12:0-21...",1,43.947011,-79.454862,Apadana Restaurant,L4E 1A5,3,ON,3.0

In [ ]:
#reviews dataframe needs .computer() to convert to df and takes some time
rev = reviews.compute()

In [ ]:
rev.head()

,review_id,business_id,reviews_stars,date,text
index,,,,,
0,ipufYjKx5saLVuDR6f6o0w,S9RoY_Smsh0a2JPo90bkdg,5,2017-08-21 02:03:08,Was there with a girlfriend at lunch time toda...
1,VNOhF-xUYguSjA01yx5nwA,S9RoY_Smsh0a2JPo90bkdg,2,2017-08-20 17:46:40,I thought my meal was OK. I ordered an omelett...
2,PMXYXphbbkx2TM80AtIpQQ,S9RoY_Smsh0a2JPo90bkdg,2,2015-12-10 17:53:39,It's just a breakfast not too fancy. Weak coff...
3,7hxilsquX34WXHYc80qLkw,S9RoY_Smsh0a2JPo90bkdg,1,2017-09-02 18:54:37,"Shoule be zero stars! So, we have been here a ..."
4,Xnf39DsDWqiv1wulL2NK9g,S9RoY_Smsh0a2JPo90bkdg,5,2017-04-30 05:33:08,I LOVE this place!!! I'm so happy they opened ...

In [ ]:
rev.describe()

       reviews_stars
count   5.055992e+06
mean    3.731101e+00
std     1.394387e+00
min     1.000000e+00
25%     3.000000e+00
50%     4.000000e+00
75%     5.000000e+00
max     5.000000e+00

In [ ]:
rev.columns

Index(['review_id', 'business_id', 'reviews_stars', 'date', 'text'], dtype='object')

In [ ]:
rev.dtypes

review_id                object
business_id              object
reviews_stars             int64
date             datetime64[ns]
text                     object
dtype: object

In [ ]:
rev.shape

(5055992, 5)

In [ ]:
rev.head(1)

,review_id,business_id,reviews_stars,date,text
index,,,,,
0,ipufYjKx5saLVuDR6f6o0w,S9RoY_Smsh0a2JPo90bkdg,5,2017-08-21 02:03:08,Was there with a girlfriend at lunch time toda...

In [ ]:
rev['text_length'] = rev['text'].str.len()

In [ ]:
rev.head()

,review_id,business_id,reviews_stars,date,text,text_length
index,,,,,,
0,ipufYjKx5saLVuDR6f6o0w,S9RoY_Smsh0a2JPo90bkdg,5,2017-08-21 02:03:08,Was there with a girlfriend at lunch time toda...,431
1,VNOhF-xUYguSjA01yx5nwA,S9RoY_Smsh0a2JPo90bkdg,2,2017-08-20 17:46:40,I thought my meal was OK. I ordered an omelett...,280
2,PMXYXphbbkx2TM80AtIpQQ,S9RoY_Smsh0a2JPo90bkdg,2,2015-12-10 17:53:39,It's just a breakfast not too fancy. Weak coff...,340
3,7hxilsquX34WXHYc80qLkw,S9RoY_Smsh0a2JPo90bkdg,1,2017-09-02 18:54:37,"Shoule be zero stars! So, we have been here a ...",3172
4,Xnf39DsDWqiv1wulL2NK9g,S9RoY_Smsh0a2JPo90bkdg,5,2017-04-30 05:33:08,I LOVE this place!!! I'm so happy they opened ...,1031

## Sentiment score for each Text

In [ ]:
import re
import nltk
import json
import numpy as np
import pandas as pd
!pip install vaderSentiment
from nltk.corpus import wordnet 
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer 

nltk.download('wordnet')
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.set_option('display.max_colwidth', 1000)

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 8.9MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (1.24.3)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
df = rev
df.head(1)

,review_id,business_id,reviews_stars,date,text,text_length
index,,,,,,
0,ipufYjKx5saLVuDR6f6o0w,S9RoY_Smsh0a2JPo90bkdg,5,2017-08-21 02:03:08,"Was there with a girlfriend at lunch time today. We both decided on breakfast. We both had their special combo; 2 eggs, 2 pancakes and a choice of a meat or bread or hash browns. I opted for meat so my meal came with 4 bacon strips. My friend got the toast. Great food and service. Coffee good also. Loved the fact that they gave us a pitcher of water and a carafe of coffee so we could indulged and not have to flag down a server.",431

In [ ]:
#load VADER
analyzer = SentimentIntensityAnalyzer()
#Add VADER metrics to dataframe
df['compound'] = [analyzer.polarity_scores(v)['compound'] for v in df['text']]
df['neg'] = [analyzer.polarity_scores(v)['neg'] for v in df['text']]
df['neu'] = [analyzer.polarity_scores(v)['neu'] for v in df['text']]
df['pos'] = [analyzer.polarity_scores(v)['pos'] for v in df['text']]
df.head(3)

In [ ]:
#do chunk by chunk like 5 different pandas dataframe. 
# train test split essentially

# Previous Tally-ai Team Sentiment

In [ ]:
import re
import nltk
import json
import numpy as np
import pandas as pd
!pip install vaderSentiment
from nltk.corpus import wordnet 
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer 

# from tallylib.sql import getLatestReviews # for django app

nltk.download('wordnet')
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.set_option('display.max_colwidth', 1000)

In [ ]:
df = rev
df.head()

In [ ]:
df = df[df['business_id'] == 'S9RoY_Smsh0a2JPo90bkdg'] # just work with one popular cafe

def tokenizer(doc):
     return [token for token in simple_preprocess(doc) 
             if token not in STOPWORDS]


def related_to_food(doc):
  word_similarity_list = []
  for review_word in doc:
    syns = wordnet.synsets(review_word) 
    if len(syns) > 0:
      w1 = wordnet.synset(syns[0].name()) # n here denotes the tag noun
      w2 = wordnet.synset('food.n.01') 
      word_similarity_score = w1.wup_similarity(w2)
      if word_similarity_score !=None and word_similarity_score > 0.5:
        word_similarity_list.append(review_word)
  return word_similarity_list


def related_to_service(doc):
  word_similarity_list = []
  for review_word in doc:
    syns = wordnet.synsets(review_word) 
    if len(syns) > 0:
      w1 = wordnet.synset(syns[0].name()) # n here denotes the tag noun
      w2 = wordnet.synset('service.n.01') 
      word_similarity_score = w1.wup_similarity(w2)
      if word_similarity_score !=None and word_similarity_score > 0.5:
        word_similarity_list.append(review_word)
  return word_similarity_list


def related_to_speed(doc):
  word_similarity_list = []
  for review_word in doc:
    syns = wordnet.synsets(review_word) 
    if len(syns) > 0:
      w1 = wordnet.synset(syns[0].name()) # n here denotes the tag noun
      w2 = wordnet.synset('speed.n.01') 
      word_similarity_score = w1.wup_similarity(w2)
      if word_similarity_score !=None and word_similarity_score > 0.5:
        word_similarity_list.append(review_word)
  return word_similarity_list

def related_to_price(doc):
  word_similarity_list = []
  for review_word in doc:
    syns = wordnet.synsets(review_word) 
    if len(syns) > 0:
      w1 = wordnet.synset(syns[0].name()) # n here denotes the tag noun
      w2 = wordnet.synset('price.n.01') 
      word_similarity_score = w1.wup_similarity(w2)
      if word_similarity_score !=None and word_similarity_score > 0.5:
        word_similarity_list.append(review_word)
  return word_similarity_list


def related_to_ambience(doc):
  word_similarity_list = []
  for review_word in doc:
    syns = wordnet.synsets(review_word) 
    if len(syns) > 0:
      w1 = wordnet.synset(syns[0].name()) # n here denotes the tag noun
      w2 = wordnet.synset('ambience.n.01') 
      word_similarity_score = w1.wup_similarity(w2)
      if word_similarity_score !=None and word_similarity_score > 0.5:
        word_similarity_list.append(review_word)
  return word_similarity_list


def related_to_experience(doc):
  word_similarity_list = []
  for review_word in doc:
    syns = wordnet.synsets(review_word) 
    if len(syns) > 0:
      w1 = wordnet.synset(syns[0].name()) # n here denotes the tag noun
      w2 = wordnet.synset('experience.n.01') 
      word_similarity_score = w1.wup_similarity(w2)
      if word_similarity_score !=None and word_similarity_score > 0.5:
        word_similarity_list.append(review_word)
  return word_similarity_list

def extract_subject_related_words():
  df['text'] = df['text'].apply(lambda x:" ".join(re.findall("[a-zA-Z]+", x)))
  df['cleaned'] = df['text'].apply(tokenizer)
  df['words_related_to_food'] = df['cleaned'].apply(related_to_food)
  df['words_related_to_service'] = df['cleaned'].apply(related_to_service)
  df['words_related_to_speed'] = df['cleaned'].apply(related_to_speed)
  df['words_related_to_price'] = df['cleaned'].apply(related_to_price)
  df['words_related_to_ambience'] = df['cleaned'].apply(related_to_ambience)
  df['words_related_to_experience'] = df['cleaned'].apply(related_to_experience)

extract_subject_related_words()
df.sample(1)

In [ ]:
def get_list_reviews_containing_subject():
  food_review_list = df[df['words_related_to_food'].map(len) > 1]['text'].tolist()
  service_review_list = df[df['words_related_to_service'].map(len) > 1]['text'].tolist()
  speed_review_list = df[df['words_related_to_speed'].map(len) > 1]['text'].tolist()
  price_review_list = df[df['words_related_to_price'].map(len) > 1]['text'].tolist()
  ambience_review_list = df[df['words_related_to_ambience'].map(len) > 1]['text'].tolist()
  experience_review_list = df[df['words_related_to_experience'].map(len) > 1]['text'].tolist()
  return food_review_list, service_review_list, speed_review_list, price_review_list, ambience_review_list, experience_review_list

food_review_list, service_review_list, speed_review_list, price_review_list, ambience_review_list, experience_review_list = get_list_reviews_containing_subject()
  # food_review_list = df[df['words_related_to_food'].map(len) > 1]['text'].tolist()
  # service_review_list = df[df['words_related_to_service'].map(len) > 1]['text'].tolist()
  # speed_review_list = df[df['words_related_to_speed'].map(len) > 1]['text'].tolist()
  # price_review_list = df[df['words_related_to_price'].map(len) > 1]['text'].tolist()
  # ambience_review_list = df[df['words_related_to_ambience'].map(len) > 1]['text'].tolist()
  # experience_review_list = df[df['words_related_to_experience'].map(len) > 1]['text'].tolist()

In [ ]:
def sentiment_score(sentence):
    # Create a SentimentIntensityAnalyzer object. 
    sid_obj = SentimentIntensityAnalyzer()

    # polarity_scores method of SentimentIntensityAnalyzer oject gives a sentiment dictionary. which contains pos, neg, neu, and compound scores. 
    sentiment_dict = sid_obj.polarity_scores(sentence)

    return sentiment_dict

def get_sentiment(review_list):
    all_sentiments = []
    compounds = []

    if len(review_list) > 0:
        for review in review_list:
            score = sentiment_score(review)
            all_sentiments.append(score)

    if len(all_sentiments) > 0:
        for sentiment_dict in all_sentiments:
            compound = sentiment_dict['compound']
            compounds.append(compound)

    if len(compounds) > 0:
        avg_sentiment = sum(compounds) / len(compounds)
    
    else:
        avg_sentiment = None

    return avg_sentiment

In [ ]:
def get_scores():
  if len(food_review_list) > 0:
    food_sentiment_score = round((get_sentiment(food_review_list))*150)
  else: 
    food_sentiment_score = 75
  if len(service_review_list) > 0:
    service_sentiment_score = round((get_sentiment(service_review_list))*150)
  else: 
    service_sentiment_score = 75
  if len(speed_review_list) > 0:
    speed_sentiment_score = round((get_sentiment(speed_review_list))*150)
  else: 
    speed_sentiment_score = 75
  if len(price_review_list) > 0:
    price_sentiment_score = round((get_sentiment(price_review_list))*150)
  else: 
    price_sentiment_score = 75
  if len(ambience_review_list) > 0:
    ambience_sentiment_score = round((get_sentiment(ambience_review_list))*150)
  else: 
    ambience_sentiment_score = 75
  if len(experience_review_list) > 0:
    experience_sentiment_score = round((get_sentiment(experience_review_list))*150)
  else: 
    experience_sentiment_score = 75
  return food_sentiment_score, service_sentiment_score, speed_sentiment_score, price_sentiment_score, ambience_sentiment_score, experience_sentiment_score


food_sentiment_score, service_sentiment_score, speed_sentiment_score, price_sentiment_score, ambience_sentiment_score, experience_sentiment_score = get_scores()

In [ ]:

results = json.dumps([
        { 'subject': 'Food', 'data1': food_sentiment_score, 'data2': 0, 'maxValue': 150 },
        { 'subject': 'Service', 'data1': service_sentiment_score, 'data2': 0, 'maxValue': 150 },
        { 'subject': 'Speed', 'data1': speed_sentiment_score, 'data2': 0, 'maxValue': 150 },
        { 'subject': 'Price', 'data1': price_sentiment_score, 'data2': 0, 'maxValue': 150 },
        { 'subject': 'Ambience', 'data1': ambience_sentiment_score, 'data2': 0, 'maxValue': 150},
        { 'subject': 'Experience', 'data1': experience_sentiment_score, 'data2': 0, 'maxValue': 150}
])
results

In [ ]:
results_nodata2 = json.dumps([
        { 'subject': 'Food', 'score': food_sentiment_score},
        { 'subject': 'Service', 'score': service_sentiment_score},
        { 'subject': 'Speed', 'score': speed_sentiment_score},
        { 'subject': 'Price', 'score': price_sentiment_score},
        { 'subject': 'Ambience', 'score': ambience_sentiment_score},
        { 'subject': 'Experience', 'score': experience_sentiment_score}
])
results_nodata2

In [ ]:
# Radar graph here

## TO DO & Tally-ai Sentiment.py File

In [ ]:
# Dump the business csv and reviews parquet to postgres **which Anh is suppose to do
# Run this notebook code on all reviews to get sentiment score and make postgres table -- set up columns for export sentiment table -- #EC2 Instance for python Vader script
# Create dummy flask app and deploy it to elastic beanstalk

In [ ]:
# # # # # # # tallylib/sentiment.py # # # # # # # #

# PIPELINE (While getting sentiment score and then do them all the same time)



# import re
# import nltk
# import json
# import numpy as np
# import pandas as pd
# !pip install vaderSentiment
# from nltk.corpus import wordnet 
# from gensim.utils import simple_preprocess
# from gensim.parsing.preprocessing import STOPWORDS
# from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer 
# import dask.dataframe as dd
# import pandas as pd
# !pip install fastparquet
# from fastparquet import ParquetFile
# pd.set_option('display.max_columns', None)
# from tallylib.sql import getLatestReviews


reviews = dd.read_parquet('https://tally-ai-dspt3.s3.amazonaws.com/yelp-restaurants/reviews.parquet.gzip')
reviews.head()
rev = reviews.compute()
df = rev


df = df[df['business_id'] == 'S9RoY_Smsh0a2JPo90bkdg']# just work with one popular cafe


def tokenizer(doc):
	return [token for token in simple_preprocess(doc) 
			if token not in STOPWORDS]


def related_to_food(doc):
	word_similarity_list = []
	for review_word in doc:
		syns = wordnet.synsets(review_word) 
		if len(syns) > 0:
			w1 = wordnet.synset(syns[0].name()) # n here denotes the tag noun
			w2 = wordnet.synset('food.n.01') 
			word_similarity_score = w1.wup_similarity(w2)
			if word_similarity_score !=None and word_similarity_score > 0.5:
				word_similarity_list.append(review_word)
	return word_similarity_list


def related_to_service(doc):
	word_similarity_list = []
	for review_word in doc:
		syns = wordnet.synsets(review_word) 
		if len(syns) > 0:
			w1 = wordnet.synset(syns[0].name()) # n here denotes the tag noun
			w2 = wordnet.synset('service.n.01') 
			word_similarity_score = w1.wup_similarity(w2)
			if word_similarity_score !=None and word_similarity_score > 0.5:
				word_similarity_list.append(review_word)
	return word_similarity_list

def related_to_speed(doc):
	word_similarity_list = []
	for review_word in doc:
		syns = wordnet.synsets(review_word) 
		if len(syns) > 0:
			w1 = wordnet.synset(syns[0].name()) # n here denotes the tag noun
			w2 = wordnet.synset('wait.n.01') 
			word_similarity_score = w1.wup_similarity(w2)
			if word_similarity_score !=None and word_similarity_score > 0.5:
				word_similarity_list.append(review_word)
	return word_similarity_list


def related_to_price(doc):
	word_similarity_list = []
	for review_word in doc:
		syns = wordnet.synsets(review_word) 
		if len(syns) > 0:
			w1 = wordnet.synset(syns[0].name()) # n here denotes the tag noun
			w2 = wordnet.synset('price.n.01') 
			word_similarity_score = w1.wup_similarity(w2)
			if word_similarity_score !=None and word_similarity_score > 0.5:
				word_similarity_list.append(review_word)
	return word_similarity_list


def related_to_ambience(doc):
	word_similarity_list = []
	for review_word in doc:
		syns = wordnet.synsets(review_word) 
		if len(syns) > 0:
			w1 = wordnet.synset(syns[0].name()) # n here denotes the tag noun
			w2 = wordnet.synset('ambience.n.01') 
			word_similarity_score = w1.wup_similarity(w2)
			if word_similarity_score !=None and word_similarity_score > 0.5:
				word_similarity_list.append(review_word)
	return word_similarity_list


def related_to_experience(doc):
	word_similarity_list = []
	for review_word in doc:
		syns = wordnet.synsets(review_word) 
		if len(syns) > 0:
			w1 = wordnet.synset(syns[0].name()) # n here denotes the tag noun
			w2 = wordnet.synset('experience.n.01') 
			word_similarity_score = w1.wup_similarity(w2)
			if word_similarity_score !=None and word_similarity_score > 0.5:
				word_similarity_list.append(review_word)
	return word_similarity_list

def extract_subject_related_words():
	df['text'] = df['text'].apply(lambda x:" ".join(re.findall("[a-zA-Z]+", x)))
	df['cleaned'] = df['text'].apply(tokenizer)
	df['words_related_to_food'] = df['cleaned'].apply(related_to_food)
	df['words_related_to_service'] = df['cleaned'].apply(related_to_service)
	df['words_related_to_speed'] = df['cleaned'].apply(related_to_speed)
	df['words_related_to_price'] = df['cleaned'].apply(related_to_price)
	df['words_related_to_ambience'] = df['cleaned'].apply(related_to_ambience)
	df['words_related_to_experience'] = df['cleaned'].apply(related_to_experience)


def get_list_reviews_containing_subject():
	food_review_list = df[df['words_related_to_food'].map(len) > 1]['text'].tolist()
	service_review_list = df[df['words_related_to_service'].map(len) > 1]['text'].tolist()
	speed_review_list = df[df['words_related_to_speed'].map(len) > 1]['text'].tolist()
	price_review_list = df[df['words_related_to_price'].map(len) > 1]['text'].tolist()
	ambience_review_list = df[df['words_related_to_ambience'].map(len) > 1]['text'].tolist()
	experience_review_list = df[df['words_related_to_experience'].map(len) > 1]['text'].tolist()
	return food_review_list, service_review_list, speed_review_list, price_review_list, ambience_review_list, experience_review_list



def sentiment_score(sentence):
	# Create a SentimentIntensityAnalyzer object. 
	sid_obj = SentimentIntensityAnalyzer()
	# polarity_scores method of SentimentIntensityAnalyzer oject gives a sentiment dictionary. which contains pos, neg, neu, and compound scores. 
	sentiment_dict = sid_obj.polarity_scores(sentence)

	return sentiment_dict


def get_sentiment(review_list):
	all_sentiments = []
	compounds = []

	if len(review_list) > 0:
		for review in review_list:
			score = sentiment_score(review)
			all_sentiments.append(score)

	if len(all_sentiments) > 0:
		for sentiment_dict in all_sentiments:
			compound = sentiment_dict['compound']
			compounds.append(compound)

	if len(compounds) > 0:
		avg_sentiment = sum(compounds) / len(compounds)
	
	else:
		avg_sentiment = None

	return avg_sentiment

def get_scores():
	subspecreviews = [food_review_list, service_review_list, speed_review_list, price_review_list, ambience_review_list, experience_review_list]
	score_results = []
	for subjectreviews in subspecreviews:
		if len(subjectreviews) > 0:
			sub_sentiment_score = round((get_sentiment(subjectreviews))*150)
			if sub_sentiment_score < 0:
				sub_sentiment_score = 0
		else: 
			sub_sentiment_score = 75
			score_results.append(sub_sentiment_score)
	return score_results




extract_subject_related_words()
food_review_list, service_review_list, speed_review_list, price_review_list, ambience_review_list, experience_review_list = get_list_reviews_containing_subject()
subspecreviews = [food_review_list, service_review_list, speed_review_list, price_review_list, ambience_review_list, experience_review_list]
result = get_scores()
	
# result = json.dumps([
# 			{ 'subject': 'Food', 'data1': food_sentiment_score, 'data2': 0, 'maxValue': 150 },
# 			{ 'subject': 'Service', 'data1': service_sentiment_score, 'data2': 0, 'maxValue': 150 },
# 			{ 'subject': 'Speed', 'data1': speed_sentiment_score, 'data2': 0, 'maxValue': 150 },
# 			{ 'subject': 'Price', 'data1': price_sentiment_score, 'data2': 0, 'maxValue': 150 },
# 			{ 'subject': 'Ambience', 'data1': ambience_sentiment_score, 'data2': 0, 'maxValue': 150},
# 			{ 'subject': 'Experience', 'data1': experience_sentiment_score, 'data2': 0, 'maxValue': 150}
# ])

# del [food_sentiment_score, service_sentiment_score, speed_sentiment_score, price_sentiment_score, ambience_sentiment_score, experience_sentiment_score]

# 	return result

# Vader W/ Visualization

## Sentiment Analysis
- positive, negative, neutral and what that means with respect to those (trending, visualization, diving into what they love or dont love)
- For Example: build week (salties hackers) using sentiment analysis to determine if a post was salty if it was subjective and negative

In [ ]:
import pandas as pd
import seaborn as sns

sns.set(rc={'figure.figsize':(30,1)})

#helper function is heat map for each sentence
def visualise_sentiments(data):
  sns.heatmap(pd.DataFrame(data).set_index("Sentence").T,center=0, annot=True, cmap = "PiYG")

## NLTK Vader
- Vader sentiment, vaderSentiment on github (Valence Aware Dictionary aand sEntiment Reasoner) dictionary from social media on positivity and subjectivity
- less than -.05 means negative sentiment greater than .5 means positive. neutral in between

In [ ]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

## Negative Review

In [ ]:
sentence = "I hate this place, it sucks, terrible service. negative negative negtive"

In [ ]:
sid.polarity_scores(sentence)

In [ ]:
def visualise_sentiments(data):
  sns.heatmap(pd.DataFrame(data).set_index("Sentence").T,center=0, annot=True, cmap = "PiYG")

sentences = ["I hate this place, it sucks, terrible service. negative negative negtive"]

for sentence in sentences:
  visualise_sentiments({
    "Sentence":["SENTENCE"] + sentence.split(),
    "Sentiment":[sid.polarity_scores(sentence)["compound"]] + [sid.polarity_scores(word)["compound"] for word in sentence.split()]
})

#dictionary approach, only scores are like and dumb, also takes into account modifiers like 'really', 0's are just neutral

## Positive Review

In [ ]:
sentence = "We had a great breakfast that consisted of two omelettes They are very generous with the fillings and the hash browns and muffins were really good The service was also terrific:"

In [ ]:
sid.polarity_scores(sentence)

#compound is positive so it is a positive sentiment

In [ ]:
####want to print seperate images for several sentences but we are still working on it!!!!

def visualise_sentiments_multiple(data):
  sns.heatmap(pd.DataFrame(data).set_index("Sentence").T,center=0, annot=True, cmap = "PiYG")

sentences = ["We had a great breakfast that consisted of two omelettes They are very generous with the fillings and the hash browns and muffins were really good The service was also terrific"]

for sentence in sentences:
  visualise_sentiments({
    "Sentence":["SENTENCE"] + sentence.split(),
    "Sentiment":[sid.polarity_scores(sentence)["compound"]] + [sid.polarity_scores(word)["compound"] for word in sentence.split()]
})

#dictionary approach, only scores are like and dumb, also takes into account modifiers like 'really', 0's are just neutral

In [ ]:
visualise_sentiments({
    "Sentence":["SENTENCE"] + sentence.split(),
    "Sentiment":[sid.polarity_scores(sentence)["compound"]] + [sid.polarity_scores(word)["compound"] for word in sentence.split()]
})

## Wordcloud

In [ ]:
!pip install wordcloud

In [ ]:
# Python program to generate WordCloud 
  
# importing all necessery modules 
from wordcloud import WordCloud, STOPWORDS 
import matplotlib.pyplot as plt 
import pandas as pd 
  
# Reads 'S3' file  
reviews = dd.read_parquet('https://tally-ai-dspt3.s3.amazonaws.com/yelp-restaurants/reviews.parquet.gzip')
reviews.head()
rev = reviews.compute()
df = rev


df = df[df['business_id'] == 'S9RoY_Smsh0a2JPo90bkdg']# just work with one popular cafe
  
comment_words = '' 
stopwords = set(STOPWORDS) 
  
# iterate through the csv file 
for val in df.text: 
      
    # typecaste each val to string 
    val = str(val) 
  
    # split the value 
    tokens = val.split() 
      
    # Converts each token into lowercase 
    for i in range(len(tokens)): 
        tokens[i] = tokens[i].lower() 
      
    comment_words += " ".join(tokens)+" "
  
wordcloud = WordCloud(width = 800, height = 800, 
                background_color ='white', 
                stopwords = stopwords, 
                min_font_size = 10).generate(comment_words) 
  
# plot the WordCloud image                        
plt.figure(figsize = (8, 8), facecolor = None) 
plt.imshow(wordcloud) 
plt.axis("off") 
plt.tight_layout(pad = 0) 
  
plt.show()